# Ignore virtual environment files
venv/
__pycache__/

# Ignore local configuration files
instance/
config.py
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Flask specific files
*.pyc
__pycache__/
